In [1]:
#____bulid Game ______
# welcome message
#coption 
#user choice 
#ask play again 
#n-------exit game

In [ ]:
#1

In [3]:
number = [1,2,3,4,5,5,6,7]


new_number = []
for x in number:
    new_number.append(x*x)
print (new_number)

[1, 4, 9, 16, 25, 25, 36, 49]

In [ ]:
#2 -- functianal programming

In [7]:
def mysquare(n):
    return n*n
new_number = map(mysquare,number)

print (list(new_number))

[1, 4, 9, 16, 25, 25, 36, 49]

In [ ]:
#pythonic

In [ ]:
#3 list comprehension

In [11]:
number = [1,2,3,4,5,5,6,7]

new_number = [n*n for n in number]
print (new_number)

[1, 4, 9, 16, 25, 25, 36, 49]

In [ ]:
# generator (tubel)

In [13]:
number = [1,2,3,4,5,5,6,7]

new_number = (n*n for n in number)
print (new_number)
print(list(new_number))

<generator object <genexpr> at 0x7fa949d27820>
[1, 4, 9, 16, 25, 25, 36, 49]

In [14]:
name = ['ahmed','ail','hassan']
new_name = [n.upper()for n in name]
print (new_name)

['AHMED', 'AIL', 'HASSAN']

In [15]:
number = list (range(1,101))
even = [n for n in number if n%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [17]:
number = list (range(1,101))

my_number = ['even' if n%2==0 else 'odd'for n in number]
print (my_number)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [18]:
d = {'iphone':1000,'mocbook':2500,'watch':700}
new_d = {k:v*1.1 for k,v in d.items()}
print(new_d)

{'iphone': 1100.0, 'mocbook': 2750.0, 'watch': 770.0000000000001}

In [27]:
number = list(range(1,101))

def myfilter(n):
    
    if n >50:
        return True
    else:
        return False
    
new_number = filter(myfilter,number)
print(list(number))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [26]:
number = list(range(1,101))
new_number = [n for n in number if n >50]
print (new_number)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [29]:
number = list(range(1,101))
new_number = filter (lambda n:n>50, number ) 
print (list(new_number))

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [32]:
from functools import reduce

In [42]:
numbers = list(range(2,100))
def mysum(x,y):
    return x,y


result = reduce(mysum,numbers)
print(result)

[((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((2, 3), 4), 5), 6), 7), 8), 9), 10), 11), 12), 13), 14), 15), 16), 17), 18), 19), 20), 21), 22), 23), 24), 25), 26), 27), 28), 29), 30), 31), 32), 33), 34), 35), 36), 37), 38), 39), 40), 41), 42), 43), 44), 45), 46), 47), 48), 49), 50), 51), 52), 53), 54), 55), 56), 57), 58), 59), 60), 61), 62), 63), 64), 65), 66), 67), 68), 69), 70), 71), 72), 73), 74), 75), 76), 77), 78), 79), 80), 81), 82), 83), 84), 85), 86), 87), 88), 89), 90), 91), 92), 93), 94), 95), 96), 97), 98), 99]

In [46]:
a,*b =[1,5,6,7,8,9,8]

In [47]:
a

1

In [48]:
b

[5, 6, 7, 8, 9, 8]

In [49]:
*a,b =[1,5,6,7,8,9,8]

In [50]:
a

[1, 5, 6, 7, 8, 9]

In [51]:
b

8

In [52]:
c,*a,b =[1,5,6,7,8,9,8]

In [53]:
c

1

In [54]:
a

[5, 6, 7, 8, 9]

In [55]:
b

8

In [57]:
for _ in range(5):
    print('hello')

hello
hello
hello
hello
hello